      a{text-decoration: none;} /*하이퍼링크 밑줄 없애기*/
      a:visit{color:black;}
     .search-box{
		    position: absolute;
        z-index : 999;  /*절대 위치 : 무조건 top left right bottom으로 직접지정. 변동되지 않는다*/ 
	    	top: 32%; left: 50%; /*상단에서 22% 좌측으로 50% 인곳에 위치*/
	    	transform: translate(-50%, -50%); /*첫번째 값은 좌측, 오른쪽값은 우측. */
    		background: #2f3640; /*배경색상 설정*/
	    	height: 40px; /*해당 상자의 높이 설정*/
	    	border-radius: 40px; /*상자의 굴곡설정*/
	    	padding: 10px; /*검색엔진과 테두리의 공간 즉 안쪽 여백*/
      }
      .search-box:hover > .search-txt {/*hover : 마우스를 올렸을 때 효과를 줌*/
	    	/*search-txt*/
        width: 240px; /*검색엔진 길이*/
    		padding:0 6px; /*첫번째 값은 top, 두번째값은 좌측 6px 띄움*/
    	}
      .search-box:hover > .search-btn {
    		background: white;
	    	color: #1e1e1e;
    	}
      .search-btn{
	    	color:#d9d9d9;
	    	float: right; 
	    	width: 40px; height: 40px;
	    	border-radius: 50%;
	    	background:#1e1e1e;
	    	display: flex;
	    	justify-content: center;
	    	align-items: center;
		    transition: 0.4s;
	    }
      .search-txt {
		    border : none;
	    	background : none;
	    	outline: none;
	    	float: left;
	    	padding: 0;
	    	color: white;
	    	font-size: 16px;
	    	transition: 0.4s;
		    line-height: 40px;
	    	width: 0px;
      }
      .up{
        height: 160px;
        text-align: center;
      }
      .title{
        font-family: '카페24 아네모네';
        font-size: 2.5rem;
        font-weight:bolder;
        text-align: center;
        margin-top: 30px;
      }
      .covid-menu{
        font-family : '카페24 아네모네';
        font-size : 1.5rem;
        font-weight: bold;
        margin-top : 40px;
        word-spacing : 20px;
      }
      .main-title{
        font-family: '카페24 아네모네';
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .subtitle{
        font-family: '카페24 아네모네에어';
        text-align: center;
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 50px;
      }
      .down{
        height: 1000px;
        border-top: 1px solid black;
      }
      .covid-m{
        text-align: center;
        width: 180px;
        height: 300px;
        border: 1px solid black;
        margin: 10px;
        border-radius: 4px;
      }
      .covid-t{
        display: flex;
        flex-direction: covid-m;
        justify-content: center;
      }


      .covid-m-title{
        font-family: '카페24 아네모네에어';
        text-align: center;
        font-size: 1.5rem;
        height: 53px;
        background: rgba(209, 204, 226, 0.815);
        line-height: 53px;
        border-bottom: 1px solid black;
      }
      .covid-m-detail{
        width : 160px;
        height : 226px;
        font-size: 1rem;
        font-weight: bold;
        padding: 30px;
        background-repeat: no-repeat;
        background-size : 100% 100%;
        padding: 10px;
      }
      .covid-m-detail-w{
        background-image: url("D:/html실습/코로나란.png");
      }
      .covid-m-detail-s{
        background-image: url("D:/html실습/증상2.png");
      }
      .covid-m-detail-n{
        background-image: url("D:/html실습/뉴스.jpg");
      }
      .covid-m-detail-c{
        background-image: url("D:/html실습/체크리스트.png");
      }
